@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- STATISTIC-->
@Html.AntiForgeryToken()
<section class="statistic">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">@Model.totalIncomeInMonth</h2>
                        <span class="desc">income in month</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">@Model.totalExpenseInMonth</h2>
                        <span class="desc">spending in month</span>
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">@Model.totalSavingInMonth</h2>
                        <span class="desc">saving money in month</span>
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">@Model.totalMoney</h2>
                        <span class="desc">total money</span>
                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <!-- RECENT REPORT 2-->
                    <div class="recent-report2">
                        <h3 class="title-3">recent reports</h3>
                        <div class="chart-info">
                            <div class="chart-info__left">
                                <div class="chart-note">
                                    <span class="dot dot--blue"></span>
                                    <span>Income</span>
                                </div>
                                <div class="chart-note">
                                    <span class="dot dot--green"></span>
                                    <span>Expense</span>
                                </div>
                            </div>
                            <div class="chart-info-right">
                                <div class="rs-select2--dark rs-select2--md m-r-10">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Income</option>
                                        <option value="">Expense</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--dark rs-select2--sm">
                                    <select class="js-select2 au-select-dark" name="time">
                                        <option selected="selected">All Time</option>
                                        <option value="">By Month</option>
                                        <option value="">By Day</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="recent-report__chart">
                            <canvas id="recent-rep2-chart-1"></canvas>
                        </div>
                    </div>
                    <!-- END RECENT REPORT 2             -->
                </div>
                <div class="col-xl-4">
                    <!-- TASK PROGRESS-->
                    <div class="task-progress">
                        <h3 class="title-3">task progress</h3>
                        <div class="au-skill-container">
                            <div class="au-progress">
                                <span class="au-progress__title">Web Design</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="90">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">HTML5/CSS3</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="85">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">WordPress</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="95">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">Support</span>
                                <div class="au-progress__bar">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="95">
                                        <span class="au-progress__value js-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TASK PROGRESS-->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <!-- USER DATA-->
                    <div class="user-data m-b-40">
                        <h3 class="title-3 m-b-30 d-flex justify-content-between align-items-center">
                            <i class="zmdi zmdi-account-calendar">Wallets</i>
                            <button class="au-btn au-btn-icon au-btn--green ">
                                <a style="color: white; font-size: 16px" href="/wallet/create" class="zmdi zmdi-plus">Add Wallet</a>
                            </button>
                        </h3>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Balance</td>
                                        <td class="d-flex justify-content-center">Action</td>
                                    </tr>
                                </thead>
                                <tbody id="walletTableBody">
                                    @foreach (var wallet in Model.ListWallets)
                                    {
                                        <tr style="color: @(wallet.Balance < 0 ? "red" : "")">
                                            <td>@wallet.Name</td>
                                            <td>@wallet.Balance</td>
                                            <td class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-danger"><a style="color:white" href="/wallet/delete/@wallet.Id">Delete</a></button>
                                                <button type="button" class="btn btn-warning"><a style="color:white" href="/wallet/update/@wallet.Id">Edit</a></button>
                                            </td>
                                        </tr>
                                    }   
                                </tbody>
                            </table>

                        </div>
                        <div class="user-data__footer">
                            <button class="au-btn au-btn-load">load more</button>
                        </div>
                    </div>
                    <!-- END USER DATA-->
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    try {

        // Recent Report 2
        const bd_brandProduct2 = 'rgba(0,181,233,0.9)'
        const bd_brandService2 = 'rgba(0,173,95,0.9)'
        const brandProduct2 = 'rgba(0,181,233,0.2)'
        const brandService2 = 'rgba(0,173,95,0.2)'

        var incomeInMonth = @Html.Raw(Json.Serialize(ViewData["IncomeInMonth"]));
        var expenseInMonth = @Html.Raw(Json.Serialize(ViewData["ExpenseInMonth"]));

        var ctx = document.getElementById("recent-rep2-chart-1");
        if (ctx) {
            ctx.height = 230;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                        {
                            label: 'My First dataset',
                            backgroundColor: brandService2,
                            borderColor: bd_brandService2,
                            pointHoverBackgroundColor: '#fff',
                            borderWidth: 0,
                            data: incomeInMonth

                        },
                        {
                            label: 'My Second dataset',
                            backgroundColor: brandProduct2,
                            borderColor: bd_brandProduct2,
                            pointHoverBackgroundColor: '#fff',
                            borderWidth: 0,
                            data: expenseInMonth

                        }
                    ]
                },
                options: {
                    maintainAspectRatio: true,
                    legend: {
                        display: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: true,
                                color: '#f2f2f2'
                            },
                            ticks: {
                                fontFamily: "Poppins",
                                fontSize: 12
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 5,
                                stepSize: 100,
                                max: 700,
                                fontFamily: "Poppins",
                                fontSize: 12
                            },
                            gridLines: {
                                display: true,
                                color: '#f2f2f2'

                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 10,
                            hoverRadius: 4,
                            hoverBorderWidth: 3
                        },
                        line: {
                            tension: 0
                        }
                    }


                }
            });
        }

    } catch (error) {
        console.log(error);
    }
</script>