@page "/income/update/{id:int}"
@model PersonalMoney.Pages.Income.EditModel
@using PersonalMoney.Models
@{
}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" id="walletId" name="WalletId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Income.Id" />
            <div class="form-group">
                <label class="control-label">Title</label>
                <input asp-for="@Model.Income.Title" class="form-control" />
                <span asp-validation-for="@Model.Income.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input asp-for="@Model.Income.Amount" class="form-control" />
                <span asp-validation-for="@Model.Income.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="SelectedCategoryId" class="form-select">
                    @foreach (var item in Model.Categories)
                    {
                        if (Model.Income.CategoryId == item.Id)
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" asp-for="@Model.Income.DateOfTransaction">
                <span asp-validation-for="@Model.Income.DateOfTransaction class=" text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="/income">Back to List</a>
</div>
<script>
    function getWalletId() {
        document.getElementById('walletId').value = localStorage.getItem('walletId');
    }
    getWalletId();
</script>