@page "/income"
@model PersonalMoney.Pages.Income.IndexModel
@using PersonalMoney.Models
@{
}
<h3 class="title-5 m-b-35">List of Income</h3>
<button class="au-btn au-btn-icon au-btn--green m-3">
    <a style="color: white" href="/income/create" class="zmdi zmdi-plus">Add Income</a>
</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Wallet</th>
            <th>Amount Income</th>
            <th>DateTime</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Transactions)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Category.Name</td>
                <td>@item.Wallet.Name</td>
                <td>@item.Amount</td>
                <td>@item.DateOfTransaction.ToString("dd/MM/yyyy")</td>
                <td>
                    <button type="button" class="btn btn-danger"><a style="color:white" href="/income/delete/@item.Id">Delete</a></button>
                    <button type="button" class="btn btn-warning"><a style="color:white" href="/income/update/@item.Id">Edit</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>