@page "/debtor/create"
@model CreateDebtorModel
@using PersonalMoney.Pagesg

@{
    ViewData["Title"] = "Add new debtor";
    var user = ViewData["userId"] as string;
    var debtor = Model.debtor;
}


<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.debtor.UserId" value="@user" />
            <input type="hidden" asp-for="@Model.debtor.User" value="@debtor.User" />
            <div class="form-group">
                <label asp-for="@Model.debtor.Name" class="control-label"></label>
                <input asp-for="@Model.debtor.Name" class="form-control" />
                <span asp-validation-for="@Model.debtor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debtor.Address" class="control-label"></label>
                <textarea asp-for="@Model.debtor.Address" class="form-control"></textarea>
                <span asp-validation-for="@Model.debtor.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debtor.Phone" class="control-label"></label>
                <input asp-for="@Model.debtor.Phone" class="form-control" />
                <span asp-validation-for="@Model.debtor.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debtor.Email" class="control-label"></label>
                <input asp-for="@Model.debtor.Email" class="form-control" />
                <span asp-validation-for="@Model.debtor.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/debtor/list-all">Back to List</a>
</div>


