@page "/debtor/detail/{id:int}/debt/create"
@model CreateModel
@using PersonalMoney.PageDebt

@{
    ViewData["Title"] = "Add new debtor";
    var user = ViewData[" debtorId"] as string;
}


<link rel="stylesheet" href="~/css/debt.css" />
<hr />
<partial name="_AlertMessage" />

<div style="padding-top: 50px" class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
             <div class="row">
                    <div class="col-md-12">
                            <form method="post">
                                <input type="hidden" asp-for="@Model.debt.DebtorId" value="@ViewData["debtorId"]" />
                               <input type="hidden" id="hiddenWalletId" asp-for="@Model.debt.WalletId" />
                                <div class="form-group">
                                    <label asp-for="@Model.debt.Note" class="control-label"></label>
                                    <textarea asp-for="@Model.debt.Note" class="form-control"></"></textarea>
                                    <span asp-validation-for="@Model.debt.Note" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.debt.Classify" class="control-label"></label><br />
                                    <span class="classify-option" id="plus" onclick="selectOptions(true)">+</span>
                                    <span class="classify-option" id="minus" onclick="selectOptions(false)">-</span>
                                    <input type="hidden" id="classifyValue" asp-for="@Model.debt.Classify" >
                                    <br />
                                    <i style="margin-left:10px">
                                        (+) add a debt
                                        to this person, (-) pay a debt or add a debt
                                        you borrow from this person
                                    </i>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.debt.MoneyDebt" class="control-label"></label>
                                    <input type="number" asp-for="@Model.debt.MoneyDebt" class="form-control" />
                                    <span asp-validation-for="@Model.debt.MoneyDebt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.debt.DateDebt" class="control-label"></label>
                                    <input asp-for="@Model.debt.DateDebt" class="form-control" />
                                    <span asp-validation-for="@Model.debt.DateDebt" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <a href="/debtor/details/debt/@user">Back to List</a>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/debt.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var walletId = localStorage.getItem("walletId");
        document.getElementById("hiddenWalletId").value = walletId;
    });
</script>

@{
    var summernote = new PersonalMoney.Models.Summernote("#debt_Note");
}

<partial name="_Summernote" model="summernote" />

                                    