@page "/debt/update/{id:int}"
@model EditModel
@using PersonalMoney.Pagegi
@{
    ViewData["Title"] = "Update debt";
}
<link rel="stylesheet" href="~/css/debt.css" />

<partial name="_AlertMessage" />

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.debt.DebtorId" />
            <input type="hidden" asp-for="@Model.debt.Id" />
            <div class="form-group">
                <label asp-for="@Model.debt.Note" class="control-label"></label>
                <textarea asp-for="@Model.debt.Note" class="form-control"></textarea>
                <span asp-validation-for="@Model.debt.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debt.Classify" class="control-label"></label><br />
                <span class="classify-option @(Model.debt.Classify ? "active" : "")" id="plus@(Model.debt.Id)" onclick="selectOption(true, @(Model.debt.Id))">+</span>
                <span class="classify-option @(Model.debt.Classify ? "" : "active")" id="minus@(Model.debt.Id)" onclick="selectOption(false, @(Model.debt.Id))">-</span>
                <input type="hidden" id="classifyValue" asp-for="@Model.debt.Classify">
                <br /><i>
                    (+) add a debt
                    to this person, (-) pay a debt or add a debt
                    you borrow from this person
                </i>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debt.MoneyDebt" class="control-label"></label>
                <input type="number" asp-for="@Model.debt.MoneyDebt" class="form-control" />
                <span asp-validation-for="@Model.debt.MoneyDebt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.debt.DateDebt" class="control-label"></label>
                <input asp-for="@Model.debt.DateDebt" class="form-control" />
                <span asp-validation-for="@Model.debt.DateDebt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/debt.js"></script>
@{
    var summernote = new PersonalMoney.Models.Summernote("#debt_Note");
}

<partial name="_Summernote" model="summernote" />