@page "/debtor/details/debt/{id:int}"
@model IndexModel
@using PersonalMoney.Pagesdebt
@{
    // ViewData["Title"] = "Danh sach Blog";
    var lstDebts = ViewData["lstDebt"] as List<PersonalMoney.Models.DebtDetail>;
    var nameDebtor = ViewData["debtorName"] as string;
    var id = ViewData["ids"] as int?;
}

<partial name="_AlertMessage" />

<div class="main-content" style="padding-top: 50px;min-height: 75vh;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">
                        @Model.debtor.Name
                    </h3>
                    <p>Total: 555$</p>

                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <form method="post" id="filterForm">
                                <input type="hidden" name="id" value="@id" />
                                <div class="input-group" style="display: flex; flex-wrap: wrap;">
                                    <div style="flex: 1;">
                                        <select id="filterType" name="filterType" class="form-control mb-3"
                                                style="border-radius: 15px; width: 150px;">
                                            <option value="total" selected="@(Model.FilterType  == "total")">Total Money</option>
                                            <option value="date" selected="@(Model.FilterType == "date")">Date Start</option>
                                        </select>
                                    </div>
                                    <div style="flex: 1;">
                                        <input type="hidden" name="nameDebtor" value="${nameDebtor}">
                                        <div id="filterValueContainer">
                                            <div id="rangeContainer" classappend="@((Model.FilterType == "date") ? "active" : "")">
                                                <div class="input-row" style="display: flex;">
                                                    <input type="number" id="filterValueStart" name="filterValueStart"
                                                           class="form-control"
                                                           style="border-radius: 15px; width: 200px;"
                                                           placeholder="From" value="@Model.FilterValueStart">
                                                    <span class="separator" style="margin: 0 10px;">-</span>
                                                    <input type="number" id="filterValueEnd" name="filterValueEnd"
                                                           class="form-control"
                                                           style="border-radius: 15px; width: 200px;" placeholder="To"
                                                           value="@Model.FilterValueEnd">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex: 1; padding-left:15px">
                                        <input type="hidden" name="link" value="">
                                        <button type="submit" id="searchButton" class="btn btn-secondary"
                                                style="border-radius: 15px;">
                                            <i class="fas fa-search"></i> Filter
                                        </button>
                                    </div>
                                    <div style="flex: 1;padding-left:5px">
                                        <button type="button" id="clearButton" class="btn btn-secondary"
                                                style="border-radius: 15px;">
                                            <i class="fas fa-times"></i> Clear Filter
                                        </button>
                                    </div>
                                </div>
                                <div style="margin-left: 20px;">
                                    <span style="color: red;" id="errorSpan"></span>
                                </div>
                            </form>
                        </div>
                        <div class="table-data__tool-right">

                            <a href="/debtor/detail/@Model.debtor.Id/debt/create" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add new debt
                            </a>

                            <a href="/debtor/list-all" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                Back to list
                            </a>

                        </div>

                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>

                                <tr>
                                    <th>Id</th>
                                    <th>From account</th>
                                    <th>Note</th>
                                    <th>Classify</th>
                                    <th>Money Debt</th>
                                    <th>Start Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (lstDebts.Count > 0)
                                {
                                    @foreach (var item in lstDebts)
                                    {
                                        <tr class="tr-shadow">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Wallet.Name)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Note)
                                            </td>
                                            <td>
                                                @if (item.Classify)
                                                {
                                                    @:+
                                                }
                                                else
                                                {
                                                    @:-
                                                }
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MoneyDebt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateDebt)
                                            </td>
                                         
                                            <td>
                                                <div class="table-data-feature">
                                                    <a href="/debt/update/@item.Id" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a href="/debt/delete/@item.Id" class="item delete-link" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <h3>No data</h3>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Paging" model="@ViewBag.pagingModel" />
<script>

          var inputValueStart = "@Model.FilterValueStart";
    var inputValueEnd = "@Model.FilterValueEnd";
    var filterType = "@Model.FilterType";

    // Lấy tham chiếu đến ô input
     var filterValueStartInput = document.getElementById("filterValueStart");
    var filterValueEndInput = document.getElementById("filterValueEnd");

    // Thiết lập giá trị của ô input và kiểu dữ liệu tương ứng
       

    if (filterType === "date") {
        filterValueStartInput.type = "date";
        filterValueEndInput.type = "date";
    } else if (filterType === "total") {
        filterValueStartInput.type = "number";
        filterValueEndInput.type = "number";
    }
     filterValueStartInput.value = inputValueStart;
    filterValueEndInput.value = inputValueEnd;

    $(document).ready(function() {
        $('#filterType').change(function() {
            var filterType = $(this).val();
            var filterValueStart = $('#filterValueStart');
            var filterValueEnd = $('#filterValueEnd');

            if (filterType === 'total') {
                filterValueStart.prop('type', 'number');
                filterValueEnd.prop('type', 'number');
            } else if (filterType === 'date') {
                filterValueStart.prop('type', 'date');
                filterValueEnd.prop('type', 'date');
            }
        });
    });
</script>

<script src="~/js/debt.js"></script>
<script src="~/js/numtoword.js"></script>