@using Microsoft.AspNetCore.Identity
@using PersonalMoney.Models
@using Microsoft.EntityFrameworkCore
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject PersonalMoneyContext dbContext
<!DOCTYPE html>
<html lang="en" http-equiv="refresh" contenteditable="0">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title Page-->
    <title>@ViewData["Title"]</title>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" media="all">
 

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/css/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/css/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
    <link href="~/css/site.css" rel="stylesheet" media="all">


    <!-- Main JS-->

    <!-- Jquery JS-->
    <!-- Bootstrap JS-->
    <script src="~/css/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/css/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/css/vendor/slick/slick.min.js">
    </script>
    <script src="~/css/vendor/wow/wow.min.js"></script>
    <script src="~/css/vendor/animsition/animsition.min.js"></script>
    <script src="~/css/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/css/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/css/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/css/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/css/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/css/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/css/vendor/select2/select2.min.js">
    </script>

    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
 

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2 js-right-sidebar">
            <partial name="_SideBar" />
        </aside>

        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <partial name="_Header" />

            <!-- END HEADER DESKTOP-->
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75 py-2" style="z-index:100">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="au-breadcrumb-content align-items-center">
                                    <div class="au-breadcrumb-right align-item-center d-xl-block float-left d-md-flex">
                                        @if (dbContext != null)
                                        {
                                            var wallets = await dbContext.Wallets.Where(w=>w.UserId.Equals(UserManager.GetUserId(User))).ToListAsync();
                                            if (wallets.Any())
                                            {
                                                <label class="d-inline">Choose Wallet: &nbsp;</label>
                                                <div class="rs-select2--dark rs-select2--md rs-select2--border d-inline-block">
                                                    <select class="js-select2 " name="property" id="layout__slcWallet" >
                                                        <option value="0">Select wallet</option>
                                                        @foreach (var wallet in wallets)
                                                        {
                                                            <option value="@wallet.Id">@wallet.Name</option>
                                                        }
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>                                             
                                            }
                                            else
                                            {
                                                <p>No wallets available.</p>
                                            }

                                        }
                                       
                                    </div>
                                    <div class="au-breadcrumb-left align-items-center p-b-10">
                                            @RenderSection("ButtonContent", required: false)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->
            @RenderBody()

            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <script src="~/js/accountselect.js"></script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
 
 

</body>



</html>
<!-- end document-->
